<style>
    .header {
        background-color: #78aedd;
        padding: 10px;
        margin: 10px 0;
        text-align: center;
    }
</style>

<div class="header">
    <%if(username){%>
        <h1>
            Welcome
            <%=username%>
        </h1>
        <%}%>
</div>